{
  "openapi": "3.0.3",
  "info": {
    "title": "RMB Dubai -- Mobile API (v1)",
    "version": "1.0.0",
    "description": "Official API for the RMB Dubai customer mobile app, covering account registration and KYC, project and site management, concrete order placement and tracking, payments and wallet, and customer support.\n\nAll endpoints are served under `/api/mobile/v1` and, with the exception of the authentication endpoints listed below, require a bearer token obtained from Sign In or Sign Up.\n\nFor a getting-started guide, the authentication flow, and a full breakdown of integration status per feature, see the accompanying `mobile-api.md` and `mobile-api-reference.md` guides.",
    "contact": {
      "name": "RMB Dubai Engineering"
    }
  },
  "servers": [
    {
      "url": "https://rmb.testingenv.co.in:81/api/mobile/v1",
      "description": "Testing"
    },
    {
      "url": "/api/mobile/v1",
      "description": "Relative (same host as the docs page)"
    }
  ],
  "tags": [
    {
      "name": "Authentication"
    },
    {
      "name": "KYC"
    },
    {
      "name": "Home"
    },
    {
      "name": "Projects"
    },
    {
      "name": "Locations"
    },
    {
      "name": "Catalogue"
    },
    {
      "name": "Orders"
    },
    {
      "name": "Payments"
    },
    {
      "name": "Wallet"
    },
    {
      "name": "Profile"
    },
    {
      "name": "Notifications"
    },
    {
      "name": "Invoices"
    },
    {
      "name": "Quality Control"
    },
    {
      "name": "Delivery Proof"
    },
    {
      "name": "Support"
    },
    {
      "name": "Chat"
    },
    {
      "name": "Delivery"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "Sanctum personal access token"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Machine-readable error code -- branch on this, not on `message`."
          },
          "message": {
            "type": "string"
          },
          "fields": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Present only on validation errors -- one message per invalid field."
          }
        },
        "required": [
          "code",
          "message"
        ]
      }
    }
  },
  "paths": {
    "/auth/sign-in": {
      "post": {
        "operationId": "post_auth_sign_in",
        "summary": "Sign In \u2014 tap Log In",
        "tags": [
          "Authentication"
        ],
        "parameters": [],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "usernameOrMobile": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                },
                "required": [
                  "usernameOrMobile",
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "phone": {
                          "type": "string"
                        },
                        "company": {
                          "type": "string"
                        },
                        "is_kyc_verified": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "email",
                        "phone",
                        "company",
                        "is_kyc_verified"
                      ]
                    },
                    "accessToken": {
                      "type": "string"
                    },
                    "refreshToken": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "user",
                    "accessToken",
                    "refreshToken"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Enter your username/mobile number and password.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "VALIDATION_ERROR": {
                    "value": {
                      "code": "VALIDATION_ERROR",
                      "message": "Enter your username/mobile number and password.",
                      "fields": {
                        "usernameOrMobile": "Business: enter business username. Individual: enter username or valid UAE mobile number",
                        "password": "Password is required"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Username/mobile number or password is incorrect.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "AUTH_FAILED": {
                    "value": {
                      "code": "AUTH_FAILED",
                      "message": "Username/mobile number or password is incorrect."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "This account is suspended. Contact support for help.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "ACCOUNT_SUSPENDED": {
                    "value": {
                      "code": "ACCOUNT_SUSPENDED",
                      "message": "This account is suspended. Contact support for help."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Too many login attempts. Reset your password or try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "TOO_MANY_ATTEMPTS": {
                    "value": {
                      "code": "TOO_MANY_ATTEMPTS",
                      "message": "Too many login attempts. Reset your password or try again later."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/sign-up/business": {
      "post": {
        "operationId": "post_auth_sign_up_business",
        "summary": "Create Business Account \u2014 submit registration and send OTP",
        "tags": [
          "Authentication"
        ],
        "parameters": [],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "companyName": {
                    "type": "string"
                  },
                  "username": {
                    "type": "string"
                  },
                  "registeredMobile": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "channel": {
                    "type": "string",
                    "enum": [
                      "sms",
                      "email"
                    ],
                    "default": "sms",
                    "description": "Optional, defaults to sms. sms always returns the fixed code 123456 (no real SMS provider is wired up yet -- nothing is actually sent). email sends a real, random 6-digit code to the given email address. email_id becomes required when channel is email."
                  }
                },
                "required": [
                  "username",
                  "registeredMobile",
                  "password",
                  "companyName"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "verificationId": {
                      "type": "string"
                    },
                    "contact": {
                      "type": "string",
                      "description": "The mobile number or email address the code was sent to, matching channel."
                    },
                    "maskedContact": {
                      "type": "string",
                      "description": "Masked version of contact, formatted appropriately for a phone number or an email address depending on channel."
                    },
                    "channel": {
                      "type": "string",
                      "enum": [
                        "sms",
                        "email"
                      ],
                      "description": "Which channel this OTP actually went out on -- reflects what was used, not just echoed input."
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "verificationId",
                    "contact",
                    "maskedContact",
                    "channel",
                    "expiresAt"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Complete all required business account details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "VALIDATION_ERROR": {
                    "value": {
                      "code": "VALIDATION_ERROR",
                      "message": "Complete all required business account details.",
                      "fields": {
                        "companyName": "Company name is required",
                        "username": "Choose a business username",
                        "registeredMobile": "Enter a valid UAE mobile number",
                        "password": "Password must meet security requirements"
                      }
                    }
                  },
                  "EMAIL_REQUIRED_FOR_CHANNEL": {
                    "value": {
                      "code": "VALIDATION_ERROR",
                      "message": "Complete all required business account details.",
                      "fields": {
                        "email_id": "An email address is required to send the code by email."
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "This business username is already in use. Choose another one.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "USERNAME_TAKEN": {
                    "value": {
                      "code": "USERNAME_TAKEN",
                      "message": "This business username is already in use. Choose another one."
                    }
                  },
                  "MOBILE_ALREADY_REGISTERED": {
                    "value": {
                      "code": "MOBILE_ALREADY_REGISTERED",
                      "message": "This registered mobile number is already linked to an account."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Too many OTP requests. Please wait before requesting another code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "OTP_RATE_LIMIT": {
                    "value": {
                      "code": "OTP_RATE_LIMIT",
                      "message": "Too many OTP requests. Please wait before requesting another code."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/sign-up/individual": {
      "post": {
        "operationId": "post_auth_sign_up_individual",
        "summary": "Create Individual Account \u2014 submit registration and send OTP",
        "tags": [
          "Authentication"
        ],
        "parameters": [],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "fullName": {
                    "type": "string"
                  },
                  "mobile": {
                    "type": "string"
                  },
                  "username": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "termsAccepted": {
                    "type": "boolean"
                  },
                  "channel": {
                    "type": "string",
                    "enum": [
                      "sms",
                      "email"
                    ],
                    "default": "sms",
                    "description": "Optional, defaults to sms. sms always returns the fixed code 123456 (no real SMS provider is wired up yet -- nothing is actually sent). email sends a real, random 6-digit code to the given email address. email_id becomes required when channel is email."
                  }
                },
                "required": [
                  "username",
                  "fullName",
                  "mobile",
                  "password",
                  "termsAccepted"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "verificationId": {
                      "type": "string"
                    },
                    "contact": {
                      "type": "string",
                      "description": "The mobile number or email address the code was sent to, matching channel."
                    },
                    "maskedContact": {
                      "type": "string",
                      "description": "Masked version of contact, formatted appropriately for a phone number or an email address depending on channel."
                    },
                    "channel": {
                      "type": "string",
                      "enum": [
                        "sms",
                        "email"
                      ],
                      "description": "Which channel this OTP actually went out on -- reflects what was used, not just echoed input."
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "verificationId",
                    "contact",
                    "maskedContact",
                    "channel",
                    "expiresAt"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Complete all required individual account details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "VALIDATION_ERROR": {
                    "value": {
                      "code": "VALIDATION_ERROR",
                      "message": "Complete all required individual account details.",
                      "fields": {
                        "fullName": "Full name is required",
                        "mobile": "Enter a valid UAE mobile number",
                        "username": "Choose a username",
                        "password": "Password must meet security requirements",
                        "termsAccepted": "Accept the account terms"
                      }
                    }
                  },
                  "EMAIL_REQUIRED_FOR_CHANNEL": {
                    "value": {
                      "code": "VALIDATION_ERROR",
                      "message": "Complete all required individual account details.",
                      "fields": {
                        "email_id": "An email address is required to send the code by email."
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "This username is already in use. Choose another one.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "USERNAME_TAKEN": {
                    "value": {
                      "code": "USERNAME_TAKEN",
                      "message": "This username is already in use. Choose another one."
                    }
                  },
                  "MOBILE_ALREADY_REGISTERED": {
                    "value": {
                      "code": "MOBILE_ALREADY_REGISTERED",
                      "message": "This mobile number is already linked to an account."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Too many OTP requests. Please wait before requesting another code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "OTP_RATE_LIMIT": {
                    "value": {
                      "code": "OTP_RATE_LIMIT",
                      "message": "Too many OTP requests. Please wait before requesting another code."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/sign-up/verify-otp": {
      "post": {
        "operationId": "post_auth_sign_up_verify_otp",
        "summary": "Verify Account \u2014 submit sign-up OTP",
        "tags": [
          "Authentication"
        ],
        "parameters": [],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "verificationId": {
                    "type": "string"
                  },
                  "otp": {
                    "type": "string"
                  }
                },
                "required": [
                  "verificationId",
                  "otp"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "phone": {
                          "type": "string"
                        },
                        "company": {
                          "type": "string"
                        },
                        "is_kyc_verified": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "email",
                        "phone",
                        "company",
                        "is_kyc_verified"
                      ]
                    },
                    "accessToken": {
                      "type": "string"
                    },
                    "refreshToken": {
                      "type": "string"
                    },
                    "nextStep": {
                      "type": "string",
                      "enum": [
                        "kyc",
                        "home"
                      ]
                    }
                  },
                  "required": [
                    "user",
                    "accessToken",
                    "refreshToken",
                    "nextStep"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Enter the 6-digit verification code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INVALID_OTP": {
                    "value": {
                      "code": "INVALID_OTP",
                      "message": "Enter the 6-digit verification code.",
                      "fields": {
                        "verificationId": "Verification session is required",
                        "otp": "Enter a valid 6-digit code"
                      }
                    }
                  },
                  "OTP_EXPIRED": {
                    "value": {
                      "code": "OTP_EXPIRED",
                      "message": "This verification code has expired. Request a new code."
                    }
                  },
                  "OTP_ATTEMPTS_EXCEEDED": {
                    "value": {
                      "code": "OTP_ATTEMPTS_EXCEEDED",
                      "message": "Too many incorrect codes. Request a new code."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/sign-up/resend-otp": {
      "post": {
        "operationId": "post_auth_sign_up_resend_otp",
        "summary": "Verify Account \u2014 resend sign-up OTP",
        "tags": [
          "Authentication"
        ],
        "parameters": [],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "verificationId": {
                    "type": "string"
                  }
                },
                "required": [
                  "verificationId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "verificationId": {
                      "type": "string"
                    },
                    "maskedContact": {
                      "type": "string",
                      "description": "Masked version of contact, formatted appropriately for a phone number or an email address depending on channel."
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "resendAvailableAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "channel": {
                      "type": "string",
                      "enum": [
                        "sms",
                        "email"
                      ],
                      "description": "Which channel this OTP actually went out on -- reflects what was used, not just echoed input."
                    }
                  },
                  "required": [
                    "verificationId",
                    "maskedContact",
                    "expiresAt",
                    "resendAvailableAt"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Your verification session is invalid. Start account creation again.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INVALID_VERIFICATION_SESSION": {
                    "value": {
                      "code": "INVALID_VERIFICATION_SESSION",
                      "message": "Your verification session is invalid. Start account creation again."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Please wait before requesting another code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "OTP_RATE_LIMIT": {
                    "value": {
                      "code": "OTP_RATE_LIMIT",
                      "message": "Please wait before requesting another code."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Maximum resend attempts reached. Try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "OTP_MAX_RESENDS_REACHED": {
                    "value": {
                      "code": "OTP_MAX_RESENDS_REACHED",
                      "message": "Maximum resend attempts reached. Try again later."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/passcode/forgot": {
      "post": {
        "operationId": "post_auth_passcode_forgot",
        "summary": "Forgot Passcode \u2014 send OTP",
        "tags": [
          "Authentication"
        ],
        "parameters": [],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "contact": {
                    "type": "string"
                  },
                  "isEmail": {
                    "type": "boolean",
                    "description": "true routes the OTP over the email channel (real, random code, actually emailed to the customer's registered email_id) -- false routes it over sms (fixed code 123456, not actually sent, no real SMS provider configured yet)."
                  }
                },
                "required": [
                  "isEmail",
                  "contact"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "verificationId": {
                      "type": "string"
                    },
                    "maskedContact": {
                      "type": "string",
                      "description": "Masked version of contact, formatted appropriately for a phone number or an email address depending on channel."
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "channel": {
                      "type": "string",
                      "enum": [
                        "sms",
                        "email"
                      ],
                      "description": "Which channel this OTP actually went out on -- reflects what was used, not just echoed input."
                    }
                  },
                  "required": [
                    "verificationId",
                    "maskedContact",
                    "expiresAt"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Enter the email address or mobile number linked to your account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "VALIDATION_ERROR": {
                    "value": {
                      "code": "VALIDATION_ERROR",
                      "message": "Enter the email address or mobile number linked to your account.",
                      "fields": {
                        "contact": "Enter a valid contact"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "We could not find an account with these details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "ACCOUNT_NOT_FOUND": {
                    "value": {
                      "code": "ACCOUNT_NOT_FOUND",
                      "message": "We could not find an account with these details."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Too many requests. Please try again shortly.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "OTP_RATE_LIMIT": {
                    "value": {
                      "code": "OTP_RATE_LIMIT",
                      "message": "Too many requests. Please try again shortly."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/passcode/verify-otp": {
      "post": {
        "operationId": "post_auth_passcode_verify_otp",
        "summary": "Verify Account \u2014 verify reset OTP",
        "tags": [
          "Authentication"
        ],
        "parameters": [],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "verificationId": {
                    "type": "string"
                  },
                  "contact": {
                    "type": "string"
                  },
                  "otp": {
                    "type": "string"
                  }
                },
                "required": [
                  "verificationId",
                  "otp",
                  "contact"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "verified": {
                      "type": "boolean"
                    },
                    "resetToken": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "verified",
                    "resetToken"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Enter the 6-digit verification code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INVALID_OTP": {
                    "value": {
                      "code": "INVALID_OTP",
                      "message": "Enter the 6-digit verification code.",
                      "fields": {
                        "verificationId": "Verification session is required",
                        "otp": "Enter a valid 6-digit code"
                      }
                    }
                  },
                  "OTP_EXPIRED": {
                    "value": {
                      "code": "OTP_EXPIRED",
                      "message": "This verification code has expired. Request a new code."
                    }
                  },
                  "OTP_ATTEMPTS_EXCEEDED": {
                    "value": {
                      "code": "OTP_ATTEMPTS_EXCEEDED",
                      "message": "Too many incorrect codes. Request a new code."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/passcode/reset": {
      "post": {
        "operationId": "post_auth_passcode_reset",
        "summary": "Set new passcode \u2014 save",
        "tags": [
          "Authentication"
        ],
        "parameters": [],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "resetToken": {
                    "type": "string"
                  },
                  "newPasscode": {
                    "type": "string"
                  }
                },
                "required": [
                  "resetToken",
                  "newPasscode"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Enter a new passcode of at least 6 characters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "VALIDATION_ERROR": {
                    "value": {
                      "code": "VALIDATION_ERROR",
                      "message": "Enter a new passcode of at least 6 characters.",
                      "fields": {
                        "resetToken": "Reset session is required",
                        "newPasscode": "Passcode must contain at least 6 characters"
                      }
                    }
                  },
                  "RESET_TOKEN_EXPIRED": {
                    "value": {
                      "code": "RESET_TOKEN_EXPIRED",
                      "message": "Your reset session has expired. Start the passcode reset again."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/sign-out": {
      "post": {
        "operationId": "post_auth_sign_out",
        "summary": "Profile \u2014 tap Sign out",
        "tags": [
          "Authentication"
        ],
        "parameters": [],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "refreshToken": {
                    "type": "string"
                  }
                },
                "required": [
                  "refreshToken"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Your sign-out session is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INVALID_SESSION": {
                    "value": {
                      "code": "INVALID_SESSION",
                      "message": "Your sign-out session is missing or invalid."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "You were already signed out. Please sign in again.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "SESSION_EXPIRED": {
                    "value": {
                      "code": "SESSION_EXPIRED",
                      "message": "You were already signed out. Please sign in again."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/kyc/status": {
      "get": {
        "operationId": "get_kyc_status",
        "summary": "Business KYC / Pending / Status \u2014 load status",
        "tags": [
          "KYC"
        ],
        "parameters": [],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "not_submitted",
                        "pending",
                        "approved",
                        "rejected"
                      ]
                    },
                    "submittedAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "reviewedAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "rejectionReason": {
                      "type": "string"
                    },
                    "estimatedReviewTime": {
                      "type": "string"
                    },
                    "documents": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "tradeLicense",
                              "vatCertificate",
                              "authorizedPersonId"
                            ]
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "missing",
                              "uploaded",
                              "under_review",
                              "approved",
                              "rejected"
                            ]
                          },
                          "rejectionReason": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "status"
                        ]
                      }
                    },
                    "capabilities": {
                      "type": "object",
                      "properties": {
                        "canPlanOrders": {
                          "type": "boolean"
                        },
                        "canMakePayments": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "canPlanOrders",
                        "canMakePayments"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "documents",
                    "capabilities"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Sign in to view your verification status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "UNAUTHORIZED": {
                    "value": {
                      "code": "UNAUTHORIZED",
                      "message": "Sign in to view your verification status."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Verification status is temporarily unavailable. Please try again.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "KYC_PROVIDER_UNAVAILABLE": {
                    "value": {
                      "code": "KYC_PROVIDER_UNAVAILABLE",
                      "message": "Verification status is temporarily unavailable. Please try again."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/kyc/document-upload-urls": {
      "post": {
        "operationId": "post_kyc_document_upload_urls",
        "summary": "Business KYC \u2014 get document upload URL",
        "tags": [
          "KYC"
        ],
        "parameters": [],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "documentType": {
                    "type": "string",
                    "enum": [
                      "tradeLicense",
                      "vatCertificate",
                      "authorizedPersonId"
                    ]
                  },
                  "fileName": {
                    "type": "string"
                  },
                  "mimeType": {
                    "type": "string",
                    "enum": [
                      "application/pdf",
                      "image/jpeg",
                      "image/png"
                    ]
                  },
                  "fileSizeBytes": {
                    "type": "number"
                  }
                },
                "required": [
                  "fileName",
                  "fileSizeBytes",
                  "mimeType",
                  "documentType"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileId": {
                      "type": "string"
                    },
                    "uploadUrl": {
                      "type": "string"
                    },
                    "uploadMethod": {
                      "type": "string",
                      "enum": [
                        "PUT"
                      ]
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "fileId",
                    "uploadUrl",
                    "uploadMethod",
                    "expiresAt"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Choose a supported document file.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "VALIDATION_ERROR": {
                    "value": {
                      "code": "VALIDATION_ERROR",
                      "message": "Choose a supported document file.",
                      "fields": {
                        "documentType": "Choose a document type",
                        "fileName": "File name is required",
                        "mimeType": "Upload a PDF, JPG, or PNG",
                        "fileSizeBytes": "File exceeds the allowed size"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "You have reached the maximum number of document uploads.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "UPLOAD_LIMIT_EXCEEDED": {
                    "value": {
                      "code": "UPLOAD_LIMIT_EXCEEDED",
                      "message": "You have reached the maximum number of document uploads."
                    }
                  },
                  "UPLOAD_SERVICE_UNAVAILABLE": {
                    "value": {
                      "code": "UPLOAD_SERVICE_UNAVAILABLE",
                      "message": "Document upload is temporarily unavailable. Please try again."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/home": {
      "get": {
        "operationId": "get_home",
        "summary": "Home \u2014 initial load / refresh",
        "tags": [
          "Home"
        ],
        "parameters": [],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "userName": {
                      "type": "string"
                    },
                    "companyName": {
                      "type": "string"
                    },
                    "activeOrders": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "orderId": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "grade": {
                            "type": "string"
                          },
                          "location": {
                            "type": "string"
                          },
                          "timeSlot": {
                            "type": "string"
                          },
                          "volume": {
                            "type": "string"
                          },
                          "date": {
                            "type": "string"
                          },
                          "amount": {
                            "type": "number"
                          },
                          "delivered": {
                            "type": "number"
                          },
                          "total": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "orderId",
                          "status",
                          "grade",
                          "location",
                          "timeSlot",
                          "volume",
                          "date",
                          "amount"
                        ]
                      }
                    }
                  },
                  "required": [
                    "userName",
                    "companyName",
                    "activeOrders"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Please correct the highlighted fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "VALIDATION_ERROR": {
                    "value": {
                      "code": "VALIDATION_ERROR",
                      "message": "Please correct the highlighted fields.",
                      "fields": {
                        "fieldName": "Reason for correction"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "This service is temporarily unavailable. Please try again.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "SERVICE_UNAVAILABLE": {
                    "value": {
                      "code": "SERVICE_UNAVAILABLE",
                      "message": "This service is temporarily unavailable. Please try again."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects": {
      "get": {
        "operationId": "get_projects",
        "summary": "New Cash Order \u2014 open project picker",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "location": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "location"
                        ]
                      }
                    },
                    "page": {
                      "type": "number"
                    },
                    "pageSize": {
                      "type": "number"
                    },
                    "total": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "items",
                    "page",
                    "pageSize",
                    "total"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "page must be at least 1 and pageSize must be between 1 and 100.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INVALID_QUERY": {
                    "value": {
                      "code": "INVALID_QUERY",
                      "message": "page must be at least 1 and pageSize must be between 1 and 100.",
                      "fields": {
                        "page": "Invalid page",
                        "pageSize": "Use a value from 1 to 100"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No projects match your search.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "NO_PROJECTS_FOUND": {
                    "value": {
                      "code": "NO_PROJECTS_FOUND",
                      "message": "No projects match your search."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "post_projects",
        "summary": "Add New Project / Add Location \u2014 create project",
        "tags": [
          "Projects"
        ],
        "parameters": [],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "projectType": {
                    "type": "string",
                    "enum": [
                      "residential",
                      "commercial",
                      "industrial",
                      "infrastructure"
                    ]
                  },
                  "locations": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "address": {
                          "type": "string"
                        },
                        "latitude": {
                          "type": "number"
                        },
                        "longitude": {
                          "type": "number"
                        },
                        "contactName": {
                          "type": "string"
                        },
                        "contactPhone": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "name",
                        "address",
                        "latitude",
                        "longitude"
                      ]
                    }
                  }
                },
                "required": [
                  "name",
                  "locations",
                  "projectType"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "projectType": {
                      "type": "string"
                    },
                    "locations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "address": {
                            "type": "string"
                          },
                          "latitude": {
                            "type": "number"
                          },
                          "longitude": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "address",
                          "latitude",
                          "longitude"
                        ]
                      }
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "projectType",
                    "locations"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Enter a project name and at least one complete location.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "VALIDATION_ERROR": {
                    "value": {
                      "code": "VALIDATION_ERROR",
                      "message": "Enter a project name and at least one complete location.",
                      "fields": {
                        "name": "Project name is required",
                        "projectType": "Choose a project type",
                        "locations": "Add a location with address and map pin"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "A project with the same name and location already exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "DUPLICATE_PROJECT": {
                    "value": {
                      "code": "DUPLICATE_PROJECT",
                      "message": "A project with the same name and location already exists."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}": {
      "get": {
        "operationId": "get_projects_projectId",
        "summary": "Project Details \u2014 open a project",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "projectType": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "activeOrdersCount": {
                      "type": "number"
                    },
                    "deliveredVolumeM3": {
                      "type": "number"
                    },
                    "locations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "address": {
                            "type": "string"
                          },
                          "latitude": {
                            "type": "number"
                          },
                          "longitude": {
                            "type": "number"
                          },
                          "contactName": {
                            "type": "string"
                          },
                          "contactPhone": {
                            "type": "string"
                          },
                          "activeOrdersCount": {
                            "type": "number"
                          },
                          "isDefault": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "address",
                          "latitude",
                          "longitude",
                          "contactName",
                          "contactPhone",
                          "activeOrdersCount",
                          "isDefault"
                        ]
                      }
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "projectType",
                    "activeOrdersCount",
                    "deliveredVolumeM3",
                    "locations"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "The selected project could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INVALID_PROJECT_ID": {
                    "value": {
                      "code": "INVALID_PROJECT_ID",
                      "message": "The selected project could not be found."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "You do not have access to this project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "PROJECT_ACCESS_DENIED": {
                    "value": {
                      "code": "PROJECT_ACCESS_DENIED",
                      "message": "You do not have access to this project."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/locations": {
      "get": {
        "operationId": "get_locations",
        "summary": "Saved Sites / project location picker \u2014 load saved locations",
        "tags": [
          "Locations"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "projectId": {
                            "type": "string"
                          },
                          "projectName": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "address": {
                            "type": "string"
                          },
                          "latitude": {
                            "type": "number"
                          },
                          "longitude": {
                            "type": "number"
                          },
                          "contactName": {
                            "type": "string"
                          },
                          "contactPhone": {
                            "type": "string"
                          },
                          "activeOrdersCount": {
                            "type": "number"
                          },
                          "isDefault": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "id",
                          "projectId",
                          "projectName",
                          "name",
                          "address",
                          "latitude",
                          "longitude",
                          "contactName",
                          "contactPhone",
                          "activeOrdersCount",
                          "isDefault"
                        ]
                      }
                    },
                    "page": {
                      "type": "number"
                    },
                    "pageSize": {
                      "type": "number"
                    },
                    "total": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "items",
                    "page",
                    "pageSize",
                    "total"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "page must be at least 1 and pageSize must be between 1 and 100.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INVALID_QUERY": {
                    "value": {
                      "code": "INVALID_QUERY",
                      "message": "page must be at least 1 and pageSize must be between 1 and 100.",
                      "fields": {
                        "page": "Invalid page",
                        "pageSize": "Use a value from 1 to 100"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No saved locations match your search.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "NO_LOCATIONS_FOUND": {
                    "value": {
                      "code": "NO_LOCATIONS_FOUND",
                      "message": "No saved locations match your search."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/locations": {
      "post": {
        "operationId": "post_projects_projectId_locations",
        "summary": "Add Location \u2014 save a location to an existing project",
        "tags": [
          "Locations"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "address": {
                    "type": "string"
                  },
                  "latitude": {
                    "type": "number"
                  },
                  "longitude": {
                    "type": "number"
                  },
                  "contactName": {
                    "type": "string"
                  },
                  "contactPhone": {
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "address",
                  "latitude",
                  "longitude",
                  "contactName",
                  "contactPhone"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "projectId": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "address": {
                      "type": "string"
                    },
                    "latitude": {
                      "type": "number"
                    },
                    "longitude": {
                      "type": "number"
                    },
                    "contactName": {
                      "type": "string"
                    },
                    "contactPhone": {
                      "type": "string"
                    },
                    "isDefault": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "id",
                    "projectId",
                    "name",
                    "address",
                    "latitude",
                    "longitude",
                    "contactName",
                    "contactPhone",
                    "isDefault"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Enter a location name, address, map pin, contact person, and mobile number.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "VALIDATION_ERROR": {
                    "value": {
                      "code": "VALIDATION_ERROR",
                      "message": "Enter a location name, address, map pin, contact person, and mobile number.",
                      "fields": {
                        "name": "Location name is required",
                        "address": "Address is required",
                        "latitude": "Choose a location on the map",
                        "longitude": "Choose a location on the map",
                        "contactName": "Contact person is required",
                        "contactPhone": "Enter a valid mobile number"
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "This location already exists in the selected project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "DUPLICATE_LOCATION": {
                    "value": {
                      "code": "DUPLICATE_LOCATION",
                      "message": "This location already exists in the selected project."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "You cannot add a location to an archived project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "PROJECT_ARCHIVED": {
                    "value": {
                      "code": "PROJECT_ARCHIVED",
                      "message": "You cannot add a location to an archived project."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/mix-codes": {
      "get": {
        "operationId": "get_mix_codes",
        "summary": "Select Mix Code \u2014 load/search available mixes",
        "tags": [
          "Catalogue"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "pricePerM3": {
                            "type": "number"
                          },
                          "currency": {
                            "type": "string",
                            "enum": [
                              "AED"
                            ]
                          },
                          "aggregateSize": {
                            "type": "string"
                          },
                          "slump": {
                            "type": "string"
                          },
                          "mpa": {
                            "type": "string"
                          },
                          "psi": {
                            "type": "string"
                          },
                          "imageUrl": {
                            "type": "string"
                          },
                          "available": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "code",
                          "type",
                          "pricePerM3",
                          "currency",
                          "aggregateSize",
                          "slump",
                          "mpa",
                          "psi",
                          "available"
                        ]
                      }
                    }
                  },
                  "required": [
                    "items"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Enter a valid search query and selected project/location values.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INVALID_QUERY": {
                    "value": {
                      "code": "INVALID_QUERY",
                      "message": "Enter a valid search query and selected project/location values."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No concrete mixes are available for the selected project or location.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "NO_MIX_CODES_AVAILABLE": {
                    "value": {
                      "code": "NO_MIX_CODES_AVAILABLE",
                      "message": "No concrete mixes are available for the selected project or location."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/delivery-time-windows": {
      "get": {
        "operationId": "get_delivery_time_windows",
        "summary": "Choose Schedule \u2014 load time-slot windows",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mixCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "quantityM3",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "YYYY-MM-DD"
              ]
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "startTime": {
                            "type": "string",
                            "enum": [
                              "HH:mm"
                            ]
                          },
                          "endTime": {
                            "type": "string",
                            "enum": [
                              "HH:mm"
                            ]
                          },
                          "available": {
                            "type": "boolean"
                          },
                          "requestedIntervalOptionsMinutes": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          }
                        },
                        "required": [
                          "id",
                          "title",
                          "startTime",
                          "endTime",
                          "available",
                          "requestedIntervalOptionsMinutes"
                        ]
                      }
                    }
                  },
                  "required": [
                    "items"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Select a project, location, mix code, quantity, and delivery date.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INVALID_QUERY": {
                    "value": {
                      "code": "INVALID_QUERY",
                      "message": "Select a project, location, mix code, quantity, and delivery date.",
                      "fields": {
                        "projectId": "Project is required",
                        "locationId": "Location is required",
                        "mixCode": "Mix code is required",
                        "quantityM3": "Quantity must be greater than 0",
                        "date": "Select a valid delivery date"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No time-slot windows are available for the selected date and quantity. Choose another date.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "NO_SLOTS_AVAILABLE": {
                    "value": {
                      "code": "NO_SLOTS_AVAILABLE",
                      "message": "No time-slot windows are available for the selected date and quantity. Choose another date."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/structure-types": {
      "get": {
        "operationId": "get_structure_types",
        "summary": "Other Services \u2014 load structure types",
        "tags": [
          "Catalogue"
        ],
        "parameters": [
          {
            "name": "mixCode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string",
                            "enum": [
                              "Slab",
                              "Raft",
                              "Pile",
                              "Column"
                            ]
                          },
                          "imageUrl": {
                            "type": "string"
                          },
                          "available": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "available"
                        ]
                      }
                    }
                  },
                  "required": [
                    "items"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Select a valid project and mix code before loading structure types.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INVALID_QUERY": {
                    "value": {
                      "code": "INVALID_QUERY",
                      "message": "Select a valid project and mix code before loading structure types."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No structure types are available for this mix code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "NO_STRUCTURE_TYPES_AVAILABLE": {
                    "value": {
                      "code": "NO_STRUCTURE_TYPES_AVAILABLE",
                      "message": "No structure types are available for this mix code."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/orders": {
      "post": {
        "operationId": "post_orders",
        "summary": "Review Order \u2014 create draft order",
        "tags": [
          "Orders"
        ],
        "parameters": [],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projectId": {
                    "type": "string"
                  },
                  "locationId": {
                    "type": "string"
                  },
                  "mixCode": {
                    "type": "string"
                  },
                  "quantityM3": {
                    "type": "number"
                  },
                  "schedule": {
                    "type": "object",
                    "properties": {
                      "date": {
                        "type": "string",
                        "enum": [
                          "YYYY-MM-DD"
                        ]
                      },
                      "timeWindowId": {
                        "type": "string"
                      },
                      "requestedIntervalMinutes": {
                        "type": "number"
                      },
                      "notes": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "date",
                      "timeWindowId",
                      "requestedIntervalMinutes"
                    ]
                  },
                  "structureTypeId": {
                    "type": "string"
                  },
                  "services": {
                    "type": "object",
                    "properties": {
                      "pump": {
                        "type": "object",
                        "properties": {
                          "required": {
                            "type": "boolean"
                          },
                          "size": {
                            "type": "string",
                            "enum": [
                              "small",
                              "medium",
                              "big"
                            ]
                          }
                        },
                        "required": [
                          "required"
                        ]
                      },
                      "technician": {
                        "type": "object",
                        "properties": {
                          "required": {
                            "type": "boolean"
                          },
                          "cubeMouldQuantity": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "required"
                        ]
                      },
                      "temperatureControl": {
                        "type": "boolean"
                      },
                      "laboratoryTesting": {
                        "type": "boolean"
                      },
                      "otherApprovedService": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "pump",
                      "technician",
                      "temperatureControl",
                      "laboratoryTesting",
                      "otherApprovedService"
                    ]
                  },
                  "siteAccess": {
                    "type": "object",
                    "properties": {
                      "narrowAccess": {
                        "type": "boolean"
                      },
                      "roadPermitRequired": {
                        "type": "boolean"
                      },
                      "boomPumpRequired": {
                        "type": "boolean"
                      },
                      "nightPour": {
                        "type": "boolean"
                      },
                      "confirmed": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "narrowAccess",
                      "roadPermitRequired",
                      "boomPumpRequired",
                      "nightPour",
                      "confirmed"
                    ]
                  }
                },
                "required": [
                  "structureTypeId",
                  "projectId",
                  "schedule",
                  "services",
                  "quantityM3",
                  "locationId",
                  "mixCode",
                  "siteAccess"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "order": {
                      "type": "object",
                      "properties": {
                        "orderId": {
                          "type": "string"
                        },
                        "orderReference": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "draft"
                          ]
                        },
                        "projectId": {
                          "type": "string"
                        },
                        "locationId": {
                          "type": "string"
                        },
                        "mixCode": {
                          "type": "string"
                        },
                        "quantityM3": {
                          "type": "number"
                        },
                        "scheduledDate": {
                          "type": "string",
                          "enum": [
                            "YYYY-MM-DD"
                          ]
                        },
                        "timeWindowId": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "orderId",
                        "orderReference",
                        "status",
                        "projectId",
                        "locationId",
                        "mixCode",
                        "quantityM3",
                        "scheduledDate",
                        "timeWindowId"
                      ]
                    }
                  },
                  "required": [
                    "order"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Complete all required order details before continuing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "VALIDATION_ERROR": {
                    "value": {
                      "code": "VALIDATION_ERROR",
                      "message": "Complete all required order details before continuing.",
                      "fields": {
                        "projectId": "Select a project",
                        "locationId": "Select a location",
                        "mixCode": "Select a mix code",
                        "quantityM3": "Quantity must be greater than 0",
                        "schedule": "Select an available date and time window",
                        "structureTypeId": "Select a structure type",
                        "siteAccess": "Confirm site-access details"
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "This delivery slot is no longer available. Select another slot.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
[...]
