{
  "openapi": "3.0.3",
  "info": {
    "title": "RMB Dubai -- Mobile API (v1)",
    "version": "1.1.0",
    "description": "Customer mobile app API for RMB Dubai: registration and KYC, projects and sites, concrete orders, payments and wallet, support.\n\nBearer token on everything except `/auth/*`.\n\n**Changes in 1.1.0** -- no path or verb changed, so existing clients keep working.\n\n- Auth responses carry `kyc`, `accountState`, `access`, `nextStep`. A business awaiting KYC now signs in and is stopped at payment, not at the door. Branch on `access`, not `is_kyc_verified`.\n- Orders gain a `Draft` status and `paymentStatus`. An order stays a draft until payment succeeds.\n- `services.pump` is now a type plus a metre range, replacing `size: small|medium|big`.\n- `siteAccess.narrowAccess` and `roadPermit` become objects with a `required` flag and an uploaded `fileId`. `boomPumpRequired` removed.\n- `imageUrl` populated across catalogue, projects, orders, payments.\n- `email` is nullable -- sign-up never collected one.\n- `AUTH_FAILED` split into `INVALID_CREDENTIALS` / `NOT_AN_APP_ACCOUNT`; `ACCOUNT_NOT_READY` removed; list endpoints return `200` with `isEmpty` instead of `NO_*_FOUND` 404s.\n\nFull notes: API-DOCS.md",
    "contact": {
      "name": "RMB Dubai API team"
    },
    "license": {
      "name": "Proprietary — RMB Dubai internal use"
    }
  },
  "servers": [
    {
      "url": "https://rmb.testingenv.co.in:81/api/mobile/v1",
      "description": "Testing"
    },
    {
      "url": "http://localhost/api/mobile/v1",
      "description": "Local"
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Sign up, sign in, OTP verification and passcode reset. The only endpoints that do not need a bearer token."
    },
    {
      "name": "KYC",
      "description": "Document upload and review status for business accounts. Individuals have no KYC step."
    },
    {
      "name": "Home",
      "description": "The landing screen: active orders, drafts, wallet and any KYC banner."
    },
    {
      "name": "Projects",
      "description": "Customer projects and their recent order history."
    },
    {
      "name": "Locations",
      "description": "Delivery sites belonging to a project, with map pins and site contacts."
    },
    {
      "name": "Catalogue",
      "description": "Mix codes, structure types, pump types and sizes, and delivery windows."
    },
    {
      "name": "Orders",
      "description": "Draft creation, pricing, scheduling, tracking and the operations agreement."
    },
    {
      "name": "Payments",
      "description": "Payment methods, wallet settlement, card and bank-transfer intents, and proof of payment."
    },
    {
      "name": "Wallet",
      "description": "Token balance, transaction history and top-ups. Balance is denominated in token m³, not AED."
    },
    {
      "name": "Profile",
      "description": "The signed-in customer, their company details and account deletion requests."
    },
    {
      "name": "Notifications",
      "description": "In-app notification list and read state."
    },
    {
      "name": "Invoices",
      "description": "Issued invoices, with download and streaming."
    },
    {
      "name": "Quality Control",
      "description": "Cube test results and quality checks against a delivered order."
    },
    {
      "name": "Delivery Proof",
      "description": "Signatures captured on delivery."
    },
    {
      "name": "Support",
      "description": "Support tickets raised from the app."
    },
    {
      "name": "Chat",
      "description": "Messages against a specific order."
    },
    {
      "name": "Delivery",
      "description": "Delivery ratings and related feedback."
    },
    {
      "name": "Site Access",
      "description": "Uploads backing the narrow-access photo and road-permit document."
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "Sanctum personal access token"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Machine-readable error code -- branch on this, not on `message`."
          },
          "message": {
            "type": "string"
          },
          "fields": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Present only on validation errors -- one message per invalid field."
          }
        },
        "required": [
          "code",
          "message"
        ]
      },
      "KycState": {
        "type": "string",
        "enum": [
          "not_submitted",
          "partially_submitted",
          "under_review",
          "approved",
          "rejected",
          "not_required"
        ],
        "description": "KYC progress for this account.\n\n- `not_submitted` -- registered, no documents uploaded.\n- `partially_submitted` -- some documents in, some still missing.\n- `under_review` -- everything submitted, with our team.\n- `approved` -- cleared; the account can submit orders and pay.\n- `rejected` -- one or more documents refused; see `access.blockedMessage`.\n- `not_required` -- individual accounts, which have no KYC step."
      },
      "AccountState": {
        "type": "string",
        "enum": [
          "active",
          "unverified",
          "kyc_not_submitted",
          "kyc_partially_submitted",
          "kyc_under_review",
          "kyc_rejected",
          "suspended"
        ],
        "description": "Single source of truth for what this account may do."
      },
      "AccountAccess": {
        "type": "object",
        "description": "Capability flags. Read these rather than re-deriving rules from `kyc` -- the boundary between what a pending account may and may not do is deliberately not \"everything or nothing\".",
        "properties": {
          "state": {
            "$ref": "#/components/schemas/AccountState"
          },
          "canUseApp": {
            "type": "boolean",
            "description": "Browse, projects, catalogue."
          },
          "canCreateDraftOrders": {
            "type": "boolean"
          },
          "canSubmitOrders": {
            "type": "boolean",
            "description": "False while KYC is outstanding. The draft is built, then held."
          },
          "canMakePayments": {
            "type": "boolean"
          },
          "blockedReason": {
            "type": "string",
            "nullable": true,
            "enum": [
              "ACCOUNT_SUSPENDED",
              "MOBILE_NOT_VERIFIED",
              "KYC_NOT_SUBMITTED",
              "KYC_INCOMPLETE",
              "KYC_UNDER_REVIEW",
              "KYC_REJECTED",
              null
            ]
          },
          "blockedMessage": {
            "type": "string",
            "nullable": true,
            "description": "Display-ready. Null when nothing is blocked."
          },
          "nextStep": {
            "type": "string",
            "enum": [
              "home",
              "kyc",
              "verify_otp"
            ]
          }
        },
        "required": [
          "state",
          "canUseApp",
          "canCreateDraftOrders",
          "canSubmitOrders",
          "canMakePayments"
        ]
      },
      "PaymentStatus": {
        "type": "string",
        "enum": [
          "unpaid",
          "awaiting_payment",
          "processing",
          "paid",
          "failed"
        ],
        "description": "Payment progress, independent of `status`.\n\n- `unpaid` -- draft, nothing attempted.\n- `awaiting_payment` -- intent created (card / bank transfer).\n- `processing` -- proof submitted, staff verifying.\n- `paid` -- settled; the order has left draft.\n- `failed` -- attempt failed; the order is still a draft."
      },
      "OrderStatus": {
        "type": "string",
        "enum": [
          "Draft",
          "Pending",
          "Confirmed",
          "Scheduled",
          "In Progress",
          "Completed",
          "Cancelled"
        ],
        "description": "`Draft` is new in 1.1.0. An order stays there until a payment succeeds. Scheduling only ever sees `Pending` and beyond, so an unpaid order cannot reach a plant."
      },
      "PumpRequest": {
        "type": "object",
        "description": "Replaces the 1.0.0 `{required, size}` shape. Sizes are boom reach in metres and must come from `GET /pump-sizes` -- a range no pump falls inside is rejected with `PUMP_UNAVAILABLE` at order creation rather than discovered on pour day.",
        "properties": {
          "required": {
            "type": "boolean"
          },
          "type": {
            "type": "string",
            "example": "Mobile Pump",
            "description": "From `GET /pump-types`. Required when `required` is true."
          },
          "sizeFromM": {
            "type": "number",
            "format": "float",
            "example": 36,
            "description": "Smallest acceptable boom reach, metres."
          },
          "sizeUpToM": {
            "type": "number",
            "format": "float",
            "example": 42,
            "description": "Largest acceptable. Must be >= sizeFromM."
          },
          "quantity": {
            "type": "integer",
            "minimum": 1,
            "maximum": 5,
            "default": 1
          }
        },
        "required": [
          "required"
        ]
      },
      "SiteAccessAttachment": {
        "type": "object",
        "nullable": true,
        "description": "Null until a file is uploaded and attached.",
        "properties": {
          "fileId": {
            "type": "string"
          },
          "fileName": {
            "type": "string",
            "nullable": true
          },
          "mimeType": {
            "type": "string",
            "nullable": true
          },
          "fileUrl": {
            "type": "string",
            "format": "uri",
            "description": "Authenticated; send the bearer token."
          }
        }
      },
      "SiteAccessRequest": {
        "type": "object",
        "description": "Replaces the five flat booleans of 1.0.0. `boomPumpRequired` is removed -- it duplicated `services.pump` and the two could contradict each other.",
        "properties": {
          "confirmed": {
            "type": "boolean",
            "description": "Must be true."
          },
          "narrowAccess": {
            "type": "object",
            "properties": {
              "required": {
                "type": "boolean"
              },
              "fileId": {
                "type": "string",
                "nullable": true,
                "description": "Required when `required` is true. Image only."
              }
            },
            "required": [
              "required"
            ]
          },
          "roadPermit": {
            "type": "object",
            "properties": {
              "required": {
                "type": "boolean"
              },
              "fileId": {
                "type": "string",
                "nullable": true,
                "description": "Required when `required` is true. PDF or image."
              }
            },
            "required": [
              "required"
            ]
          },
          "nightPour": {
            "type": "boolean",
            "default": false
          },
          "notes": {
            "type": "string",
            "nullable": true,
            "maxLength": 1000
          }
        },
        "required": [
          "confirmed",
          "narrowAccess",
          "roadPermit"
        ]
      },
      "OrderSummary": {
        "type": "object",
        "description": "The order card, identical across list, home and project detail.",
        "properties": {
          "orderId": {
            "type": "string"
          },
          "orderReference": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/OrderStatus"
          },
          "paymentStatus": {
            "$ref": "#/components/schemas/PaymentStatus"
          },
          "isDraft": {
            "type": "boolean"
          },
          "grade": {
            "type": "string"
          },
          "imageUrl": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "location": {
            "type": "string",
            "nullable": true
          },
          "projectName": {
            "type": "string",
            "nullable": true
          },
          "timeSlot": {
            "type": "string",
            "nullable": true,
            "example": "07:00"
          },
          "volume": {
            "type": "number",
            "format": "float"
          },
          "volumeLabel": {
            "type": "string",
            "example": "12 m³"
          },
          "date": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "amount": {
            "type": "number",
            "format": "float"
          },
          "currency": {
            "type": "string",
            "example": "AED"
          }
        },
        "required": [
          "orderId",
          "orderReference",
          "status",
          "paymentStatus",
          "isDraft"
        ]
      },
      "PriceBreakdown": {
        "type": "object",
        "properties": {
          "concrete": {
            "type": "number",
            "format": "float"
          },
          "concretePump": {
            "type": "number",
            "format": "float"
          },
          "technicianAnd6CubeMoulds": {
            "type": "number",
            "format": "float"
          },
          "paymentMethodCharge": {
            "type": "number",
            "format": "float"
          },
          "subtotal": {
            "type": "number",
            "format": "float"
          },
          "vat": {
            "type": "number",
            "format": "float"
          },
          "total": {
            "type": "number",
            "format": "float"
          },
          "currency": {
            "type": "string",
            "example": "AED"
          }
        }
      },
      "WalletShortfall": {
        "type": "object",
        "description": "Wallet balance is denominated in token m³, not AED.",
        "properties": {
          "availableTokenM3": {
            "type": "number",
            "format": "float"
          },
          "requiredTokenM3": {
            "type": "number",
            "format": "float"
          },
          "shortfallTokenM3": {
            "type": "number",
            "format": "float"
          },
          "shortfallAed": {
            "type": "number",
            "format": "float"
          },
          "estimatedValueAed": {
            "type": "number",
            "format": "float"
          }
        }
      }
    }
  },
  "paths": {
    "/account-deletion-requests": {
      "post": {
        "operationId": "post_account_deletion_requests",
        "summary": "Settings — request account deletion",
        "tags": [
          "Profile"
        ],
        "parameters": [],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending"
                      ]
                    },
                    "requestedAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "requestId",
                    "status",
                    "requestedAt"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Provide a valid deletion reason if one is selected.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "VALIDATION_ERROR": {
                    "value": {
                      "code": "VALIDATION_ERROR",
                      "message": "Provide a valid deletion reason if one is selected."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "An account deletion request is already in progress.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "DELETION_ALREADY_REQUESTED": {
                    "value": {
                      "code": "DELETION_ALREADY_REQUESTED",
                      "message": "An account deletion request is already in progress."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Account deletion is unavailable while active orders or pending payments exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "ACTIVE_ORDER_BLOCK": {
                    "value": {
                      "code": "ACTIVE_ORDER_BLOCK",
                      "message": "Account deletion is unavailable while active orders or pending payments exist."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/passcode/forgot": {
      "post": {
        "operationId": "post_auth_passcode_forgot",
        "summary": "Forgot Passcode — send OTP",
        "tags": [
          "Authentication"
        ],
        "parameters": [],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "contact": {
                    "type": "string"
                  },
                  "isEmail": {
                    "type": "boolean",
                    "description": "true routes the OTP over the email channel (real, random code, actually emailed to the customer's registered email_id) -- false routes it over sms (fixed code 123456, not actually sent, no real SMS provider configured yet)."
                  }
                },
                "required": [
                  "contact",
                  "isEmail"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "verificationId": {
                      "type": "string"
                    },
                    "maskedContact": {
                      "type": "string",
                      "description": "Masked version of contact, formatted appropriately for a phone number or an email address depending on channel."
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "channel": {
                      "type": "string",
                      "enum": [
                        "sms",
                        "email"
                      ],
                      "description": "Which channel this OTP actually went out on -- reflects what was used, not just echoed input."
                    }
                  },
                  "required": [
                    "verificationId",
                    "maskedContact",
                    "expiresAt"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Enter the email address or mobile number linked to your account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "VALIDATION_ERROR": {
                    "value": {
                      "code": "VALIDATION_ERROR",
                      "message": "Enter the email address or mobile number linked to your account.",
                      "fields": {
                        "contact": "Enter a valid contact"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "We could not find an account with these details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "ACCOUNT_NOT_FOUND": {
                    "value": {
                      "code": "ACCOUNT_NOT_FOUND",
                      "message": "We could not find an account with these details."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Too many requests. Please try again shortly.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "OTP_RATE_LIMIT": {
                    "value": {
                      "code": "OTP_RATE_LIMIT",
                      "message": "Too many requests. Please try again shortly."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/passcode/reset": {
      "post": {
        "operationId": "post_auth_passcode_reset",
        "summary": "Set new passcode — save",
        "tags": [
          "Authentication"
        ],
        "parameters": [],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "resetToken": {
                    "type": "string"
                  },
                  "newPasscode": {
                    "type": "string"
                  }
                },
                "required": [
                  "newPasscode",
                  "resetToken"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string",
                      "example": "Your passcode has been updated. Sign in with your new passcode."
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Rejected.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "PASSCODE_UNCHANGED": {
                    "value": {
                      "code": "PASSCODE_UNCHANGED",
                      "message": "Your new passcode must be different from your current one."
                    }
                  },
                  "RESET_TOKEN_EXPIRED": {
                    "value": {
                      "code": "RESET_TOKEN_EXPIRED",
                      "message": "Your reset session has expired. Start the passcode reset again."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/passcode/verify-otp": {
      "post": {
        "operationId": "post_auth_passcode_verify_otp",
        "summary": "Verify Account — verify reset OTP",
        "tags": [
          "Authentication"
        ],
        "parameters": [],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "verificationId": {
                    "type": "string"
                  },
                  "contact": {
                    "type": "string"
                  },
                  "otp": {
                    "type": "string"
                  }
                },
                "required": [
                  "contact",
                  "verificationId",
                  "otp"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "verified": {
                      "type": "boolean"
                    },
                    "resetToken": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "verified",
                    "resetToken"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Wrong, expired or exhausted code.\n\nIn 1.0.0 ANY wrong code returned `OTP_ATTEMPTS_EXCEEDED`, because no attempt counter existed. It is now returned only when the five attempts are actually spent, at which point the code is burned and a new one must be requested.",
            "headers": {
              "X-OTP-Attempts-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Present on INVALID_OTP."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INVALID_OTP": {
                    "value": {
                      "code": "INVALID_OTP",
                      "message": "That code is incorrect. You have 4 attempts left.",
                      "fields": {
                        "otp": "Incorrect code."
                      }
                    }
                  },
                  "INVALID_OTP_LAST": {
                    "value": {
                      "code": "INVALID_OTP",
                      "message": "That code is incorrect. You have 1 attempt left before you need a new code."
                    }
                  },
                  "OTP_ATTEMPTS_EXCEEDED": {
                    "value": {
                      "code": "OTP_ATTEMPTS_EXCEEDED",
                      "message": "Too many incorrect codes. Request a new code."
                    }
                  },
                  "OTP_EXPIRED": {
                    "value": {
                      "code": "OTP_EXPIRED",
                      "message": "This code has expired. Request a new code."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/sign-in": {
      "post": {
        "operationId": "post_auth_sign_in",
        "summary": "Sign In — tap Log In",
        "tags": [
          "Authentication"
        ],
        "parameters": [],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "usernameOrMobile": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                },
                "required": [
                  "usernameOrMobile",
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string",
                          "nullable": true,
                          "description": "Null when the customer never supplied one. Sign-up does not collect it."
                        },
                        "phone": {
                          "type": "string"
                        },
                        "company": {
                          "type": "string",
                          "nullable": true,
                          "description": "Business accounts only; null for individuals."
                        },
                        "is_kyc_verified": {
                          "type": "boolean"
                        },
                        "accountType": {
                          "type": "string",
                          "enum": [
                            "business",
                            "individual"
                          ]
                        },
                        "kycStatus": {
                          "$ref": "#/components/schemas/KycState"
                        },
                        "avatarUrl": {
                          "type": "string",
                          "format": "uri",
                          "nullable": true
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "phone",
                        "is_kyc_verified"
                      ]
                    },
                    "accessToken": {
                      "type": "string"
                    },
                    "refreshToken": {
                      "type": "string"
                    },
                    "kyc": {
                      "$ref": "#/components/schemas/KycState"
                    },
                    "accountState": {
                      "$ref": "#/components/schemas/AccountState"
                    },
                    "access": {
                      "$ref": "#/components/schemas/AccountAccess"
                    },
                    "nextStep": {
                      "type": "string",
                      "enum": [
                        "home",
                        "kyc",
                        "verify_otp"
                      ]
                    }
                  },
                  "required": [
                    "user",
                    "accessToken",
                    "refreshToken",
                    "kyc",
                    "access"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Enter your username/mobile number and password.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "VALIDATION_ERROR": {
                    "value": {
                      "code": "VALIDATION_ERROR",
                      "message": "Enter your username/mobile number and password.",
                      "fields": {
                        "usernameOrMobile": "Business: enter business username. Individual: enter username or valid UAE mobile number",
                        "password": "Password is required"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Credentials rejected.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INVALID_CREDENTIALS": {
                    "value": {
                      "code": "INVALID_CREDENTIALS",
                      "message": "That username/mobile number or password is incorrect."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Sign-in refused, or verification still outstanding.\n\n`VERIFICATION_REQUIRED` is NOT a failure: it carries a fresh `verificationId` so the app can go straight to the OTP screen rather than making the customer register again.\n\nA business awaiting KYC does **not** appear here -- it signs in with 200 and a `kyc` of `not_submitted` or `under_review`. That is the main behavioural change in 1.1.0.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "ACCOUNT_SUSPENDED",
                        "NOT_AN_APP_ACCOUNT",
                        "VERIFICATION_REQUIRED"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "kyc": {
                      "$ref": "#/components/schemas/KycState"
                    },
                    "accountState": {
                      "$ref": "#/components/schemas/AccountState"
                    },
                    "nextStep": {
                      "type": "string"
                    },
                    "verificationId": {
                      "type": "string",
                      "description": "VERIFICATION_REQUIRED only."
                    },
                    "maskedContact": {
                      "type": "string"
                    },
                    "channel": {
                      "type": "string",
                      "enum": [
                        "sms",
                        "email"
                      ]
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                },
                "examples": {
                  "VERIFICATION_REQUIRED": {
                    "value": {
                      "code": "VERIFICATION_REQUIRED",
                      "message": "Your mobile number is not verified yet. Enter the code we just sent you.",
                      "kyc": "not_submitted",
                      "nextStep": "verify_otp",
                      "verificationId": "HBQiDJgqzLDgv1NNKnQpsQ4J7z02zQdKsyootzyRDFiXXKvw",
                      "maskedContact": "•••••5481",
                      "channel": "sms"
                    }
                  },
                  "ACCOUNT_SUSPENDED": {
                    "value": {
                      "code": "ACCOUNT_SUSPENDED",
                      "message": "This account has been suspended. Contact support for help."
                    }
                  },
                  "NOT_AN_APP_ACCOUNT": {
                    "value": {
                      "code": "NOT_AN_APP_ACCOUNT",
                      "message": "This login belongs to the web portal, not the customer app."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Too many login attempts. Reset your password or try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "TOO_MANY_ATTEMPTS": {
                    "value": {
                      "code": "TOO_MANY_ATTEMPTS",
                      "message": "Too many login attempts. Reset your password or try again later."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/sign-out": {
      "post": {
        "operationId": "post_auth_sign_out",
        "summary": "Profile — tap Sign out",
        "tags": [
          "Authentication"
        ],
        "parameters": [],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "refreshToken": {
                    "type": "string"
                  }
                },
                "required": [
                  "refreshToken"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Your sign-out session is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INVALID_SESSION": {
                    "value": {
                      "code": "INVALID_SESSION",
                      "message": "Your sign-out session is missing or invalid."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "You were already signed out. Please sign in again.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "SESSION_EXPIRED": {
                    "value": {
                      "code": "SESSION_EXPIRED",
                      "message": "You were already signed out. Please sign in again."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/sign-up/business": {
      "post": {
        "operationId": "post_auth_sign_up_business",
        "summary": "Create Business Account — submit registration and send OTP",
        "tags": [
          "Authentication"
        ],
        "parameters": [],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "companyName": {
                    "type": "string"
                  },
                  "username": {
                    "type": "string"
                  },
                  "registeredMobile": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "channel": {
                    "type": "string",
                    "enum": [
                      "sms",
                      "email"
                    ],
                    "default": "sms",
                    "description": "Optional, defaults to sms. sms always returns the fixed code 123456 (no real SMS provider is wired up yet -- nothing is actually sent). email sends a real, random 6-digit code to the given email address. email_id becomes required when channel is email."
                  },
                  "email_id": {
                    "type": "string",
                    "format": "email",
                    "nullable": true,
                    "description": "Optional. Required only when `channel` is `email`. Not collected by the sign-up screen -- the account simply has no email until the customer adds one from their profile."
                  }
                },
                "required": [
                  "registeredMobile",
                  "username",
                  "password",
                  "companyName"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "verificationId": {
                      "type": "string"
                    },
                    "contact": {
                      "type": "string",
                      "description": "The mobile number or email address the code was sent to, matching channel."
                    },
                    "maskedContact": {
                      "type": "string",
                      "description": "Masked version of contact, formatted appropriately for a phone number or an email address depending on channel."
                    },
                    "channel": {
                      "type": "string",
                      "enum": [
                        "sms",
                        "email"
                      ],
                      "description": "Which channel this OTP actually went out on -- reflects what was used, not just echoed input."
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "maxAttempts": {
                      "type": "integer",
                      "example": 5,
                      "description": "Wrong codes allowed before the OTP is burned."
                    }
                  },
                  "required": [
                    "verificationId",
                    "contact",
                    "maskedContact",
                    "channel",
                    "expiresAt"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Complete all required business account details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "VALIDATION_ERROR": {
                    "value": {
                      "code": "VALIDATION_ERROR",
                      "message": "Complete all required business account details.",
                      "fields": {
                        "companyName": "Company name is required",
                        "username": "Choose a business username",
                        "registeredMobile": "Enter a valid UAE mobile number",
                        "password": "Password must meet security requirements"
                      }
                    }
                  },
                  "EMAIL_REQUIRED_FOR_CHANNEL": {
                    "value": {
                      "code": "VALIDATION_ERROR",
                      "message": "Complete all required business account details.",
                      "fields": {
                        "email_id": "An email address is required to send the code by email."
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "This business username is already in use. Choose another one.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "USERNAME_TAKEN": {
                    "value": {
                      "code": "USERNAME_TAKEN",
                      "message": "This business username is already in use. Choose another one."
                    }
                  },
                  "MOBILE_ALREADY_REGISTERED": {
                    "value": {
                      "code": "MOBILE_ALREADY_REGISTERED",
                      "message": "This registered mobile number is already linked to an account."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Too many OTP requests. Please wait before requesting another code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "OTP_RATE_LIMIT": {
                    "value": {
                      "code": "OTP_RATE_LIMIT",
                      "message": "Too many OTP requests. Please wait before requesting another code."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/sign-up/individual": {
      "post": {
        "operationId": "post_auth_sign_up_individual",
        "summary": "Create Individual Account — submit registration and send OTP",
        "tags": [
          "Authentication"
        ],
        "parameters": [],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "fullName": {
                    "type": "string"
                  },
                  "mobile": {
                    "type": "string"
                  },
                  "username": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "termsAccepted": {
                    "type": "boolean"
                  },
                  "channel": {
                    "type": "string",
                    "enum": [
                      "sms",
                      "email"
                    ],
                    "default": "sms",
                    "description": "Optional, defaults to sms. sms always returns the fixed code 123456 (no real SMS provider is wired up yet -- nothing is actually sent). email sends a real, random 6-digit code to the given email address. email_id becomes required when channel is email."
                  },
                  "email_id": {
                    "type": "string",
                    "format": "email",
                    "nullable": true,
                    "description": "Optional. Required only when `channel` is `email`. Not collected by the sign-up screen -- the account simply has no email until the customer adds one from their profile."
                  }
                },
                "required": [
                  "fullName",
                  "username",
                  "mobile",
                  "password",
                  "termsAccepted"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "verificationId": {
                      "type": "string"
                    },
                    "contact": {
                      "type": "string",
                      "description": "The mobile number or email address the code was sent to, matching channel."
                    },
                    "maskedContact": {
                      "type": "string",
                      "description": "Masked version of contact, formatted appropriately for a phone number or an email address depending on channel."
                    },
                    "channel": {
                      "type": "string",
                      "enum": [
                        "sms",
                        "email"
                      ],
                      "description": "Which channel this OTP actually went out on -- reflects what was used, not just echoed input."
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "maxAttempts": {
                      "type": "integer",
                      "example": 5,
                      "description": "Wrong codes allowed before the OTP is burned."
                    }
                  },
                  "required": [
                    "verificationId",
                    "contact",
                    "maskedContact",
                    "channel",
                    "expiresAt"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Complete all required individual account details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "VALIDATION_ERROR": {
                    "value": {
                      "code": "VALIDATION_ERROR",
                      "message": "Complete all required individual account details.",
                      "fields": {
                        "fullName": "Full name is required",
                        "mobile": "Enter a valid UAE mobile number",
                        "username": "Choose a username",
                        "password": "Password must meet security requirements",
                        "termsAccepted": "Accept the account terms"
                      }
                    }
                  },
                  "EMAIL_REQUIRED_FOR_CHANNEL": {
                    "value": {
                      "code": "VALIDATION_ERROR",
                      "message": "Complete all required individual account details.",
                      "fields": {
                        "email_id": "An email address is required to send the code by email."
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "This username is already in use. Choose another one.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "USERNAME_TAKEN": {
                    "value": {
                      "code": "USERNAME_TAKEN",
                      "message": "This username is already in use. Choose another one."
                    }
                  },
                  "MOBILE_ALREADY_REGISTERED": {
                    "value": {
                      "code": "MOBILE_ALREADY_REGISTERED",
                      "message": "This mobile number is already linked to an account."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Too many OTP requests. Please wait before requesting another code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "OTP_RATE_LIMIT": {
                    "value": {
                      "code": "OTP_RATE_LIMIT",
                      "message": "Too many OTP requests. Please wait before requesting another code."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/sign-up/resend-otp": {
      "post": {
        "operationId": "post_auth_sign_up_resend_otp",
        "summary": "Verify Account — resend sign-up OTP",
        "tags": [
          "Authentication"
        ],
        "parameters": [],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "verificationId": {
                    "type": "string"
                  }
                },
                "required": [
                  "verificationId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "verificationId": {
                      "type": "string"
                    },
                    "maskedContact": {
                      "type": "string",
                      "description": "Masked version of contact, formatted appropriately for a phone number or an email address depending on channel."
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "resendAvailableAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "channel": {
                      "type": "string",
                      "enum": [
                        "sms",
                        "email"
                      ],
                      "description": "Which channel this OTP actually went out on -- reflects what was used, not just echoed input."
                    }
                  },
                  "required": [
                    "verificationId",
                    "maskedContact",
                    "expiresAt",
                    "resendAvailableAt"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Your verification session is invalid. Start account creation again.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INVALID_VERIFICATION_SESSION": {
                    "value": {
                      "code": "INVALID_VERIFICATION_SESSION",
                      "message": "Your verification session is invalid. Start account creation again."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Please wait before requesting another code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "OTP_RATE_LIMIT": {
                    "value": {
                      "code": "OTP_RATE_LIMIT",
                      "message": "Please wait before requesting another code."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Maximum resend attempts reached. Try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "OTP_MAX_RESENDS_REACHED": {
                    "value": {
                      "code": "OTP_MAX_RESENDS_REACHED",
                      "message": "Maximum resend attempts reached. Try again later."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/sign-up/verify-otp": {
      "post": {
        "operationId": "post_auth_sign_up_verify_otp",
        "summary": "Verify Account — submit sign-up OTP",
        "tags": [
          "Authentication"
        ],
        "parameters": [],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "verificationId": {
                    "type": "string"
                  },
                  "otp": {
                    "type": "string"
                  }
                },
                "required": [
                  "verificationId",
                  "otp"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string",
                          "nullable": true,
                          "description": "Null when the customer never supplied one. Sign-up does not collect it."
                        },
                        "phone": {
                          "type": "string"
                        },
                        "company": {
                          "type": "string",
                          "nullable": true,
                          "description": "Business accounts only; null for individuals."
                        },
                        "is_kyc_verified": {
                          "type": "boolean"
                        },
                        "accountType": {
                          "type": "string",
                          "enum": [
                            "business",
                            "individual"
                          ]
                        },
                        "kycStatus": {
                          "$ref": "#/components/schemas/KycState"
                        },
                        "avatarUrl": {
                          "type": "string",
                          "format": "uri",
                          "nullable": true
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "phone",
                        "is_kyc_verified"
                      ]
                    },
                    "accessToken": {
                      "type": "string"
                    },
                    "refreshToken": {
                      "type": "string"
                    },
                    "nextStep": {
                      "type": "string",
                      "enum": [
                        "home",
                        "kyc",
                        "verify_otp"
                      ]
                    },
                    "kyc": {
                      "$ref": "#/components/schemas/KycState"
                    },
                    "accountState": {
                      "$ref": "#/components/schemas/AccountState"
                    },
                    "access": {
                      "$ref": "#/components/schemas/AccountAccess"
                    }
                  },
                  "required": [
                    "user",
                    "accessToken",
                    "refreshToken",
                    "nextStep",
                    "kyc",
                    "access"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Wrong, expired or exhausted code.\n\nIn 1.0.0 ANY wrong code returned `OTP_ATTEMPTS_EXCEEDED`, because no attempt counter existed. It is now returned only when the five attempts are actually spent, at which point the code is burned and a new one must be requested.",
            "headers": {
              "X-OTP-Attempts-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Present on INVALID_OTP."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INVALID_OTP": {
                    "value": {
                      "code": "INVALID_OTP",
                      "message": "That code is incorrect. You have 4 attempts left.",
                      "fields": {
                        "otp": "Incorrect code."
                      }
                    }
                  },
                  "INVALID_OTP_LAST": {
                    "value": {
                      "code": "INVALID_OTP",
                      "message": "That code is incorrect. You have 1 attempt left before you need a new code."
                    }
                  },
                  "OTP_ATTEMPTS_EXCEEDED": {
                    "value": {
                      "code": "OTP_ATTEMPTS_EXCEEDED",
                      "message": "Too many incorrect codes. Request a new code."
                    }
                  },
                  "OTP_EXPIRED": {
                    "value": {
                      "code": "OTP_EXPIRED",
                      "message": "This code has expired. Request a new code."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/company": {
      "get": {
        "operationId": "get_company",
        "summary": "Company Information — load",
        "tags": [
          "Profile"
        ],
        "parameters": [],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "legalName": {
                      "type": "string"
                    },
                    "tradeName": {
                      "type": "string"
                    },
                    "tradeLicenseNumber": {
                      "type": "string"
                    },
                    "trn": {
                      "type": "string"
                    },
                    "industry": {
                      "type": "string"
                    },
                    "officeAddress": {
                      "type": "string"
                    },
                    "officialEmail": {
                      "type": "string"
                    },
                    "corporatePhone": {
                      "type": "string"
                    },
                    "website": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "legalName",
                    "tradeName",
                    "tradeLicenseNumber",
                    "trn",
                    "industry",
                    "officeAddress",
                    "officialEmail",
                    "corporatePhone"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Sign in to view company information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "UNAUTHORIZED": {
                    "value": {
                      "code": "UNAUTHORIZED",
                      "message": "Sign in to view company information."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Company information is temporarily unavailable. Please try again.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "COMPANY_PROFILE_UNAVAILABLE": {
                    "value": {
                      "code": "COMPANY_PROFILE_UNAVAILABLE",
                      "message": "Company information is temporarily unavailable. Please try again."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not a business account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "NOT_A_BUSINESS_ACCOUNT": {
                    "value": {
                      "code": "NOT_A_BUSINESS_ACCOUNT",
                      "message": "Company details apply to business accounts only."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "put_company",
        "summary": "Company Information — save",
        "tags": [
          "Profile"
        ],
        "parameters": [],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "legalName": {
                    "type": "string"
                  },
                  "tradeName": {
                    "type": "string"
                  },
                  "tradeLicenseNumber": {
                    "type": "string"
                  },
                  "trn": {
                    "type": "string"
                  },
                  "industry": {
                    "type": "string"
                  },
                  "officeAddress": {
                    "type": "string"
                  },
                  "officialEmail": {
                    "type": "string"
                  },
                  "corporatePhone": {
                    "type": "string"
                  },
                  "website": {
                    "type": "string"
                  }
                },
                "required": [
                  "corporatePhone",
                  "tradeName",
                  "industry",
                  "tradeLicenseNumber",
                  "officialEmail",
                  "officeAddress",
                  "legalName",
                  "trn"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "legalName": {
                      "type": "string"
                    },
                    "tradeName": {
                      "type": "string"
                    },
                    "tradeLicenseNumber": {
                      "type": "string"
                    },
                    "trn": {
                      "type": "string"
                    },
                    "industry": {
                      "type": "string"
                    },
                    "officeAddress": {
                      "type": "string"
                    },
                    "officialEmail": {
                      "type": "string"
                    },
                    "corporatePhone": {
                      "type": "string"
                    },
                    "website": {
                      "type": "string"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "legalName",
                    "tradeName",
                    "tradeLicenseNumber",
                    "trn",
                    "industry",
                    "officeAddress",
                    "officialEmail",
                    "corporatePhone",
                    "updatedAt"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Complete all required company details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "VALIDATION_ERROR": {
                    "value": {
                      "code": "VALIDATION_ERROR",
                      "message": "Complete all required company details.",
                      "fields": {
                        "legalName": "Legal entity name is required",
                        "tradeLicenseNumber": "Trade licence number is required",
                        "officialEmail": "Enter a valid email",
                        "corporatePhone": "Enter a valid phone number"
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "This trade licence number is already linked to another company.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "LICENSE_CONFLICT": {
                    "value": {
                      "code": "LICENSE_CONFLICT",
                      "message": "This trade licence number is already linked to another company."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not a business account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "NOT_A_BUSINESS_ACCOUNT": {
                    "value": {
                      "code": "NOT_A_BUSINESS_ACCOUNT",
                      "message": "Company details apply to business accounts only."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/delivery-time-windows": {
      "get": {
        "operationId": "get_delivery_time_windows",
        "summary": "Choose Schedule — load time-slot windows",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mixCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "quantityM3",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "YYYY-MM-DD"
              ]
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "startTime": {
                            "type": "string",
                            "enum": [
                              "HH:mm"
                            ]
                          },
                          "endTime": {
                            "type": "string",
                            "enum": [
                              "HH:mm"
                            ]
                          },
                          "available": {
                            "type": "boolean"
                          },
                          "requestedIntervalOptionsMinutes": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          }
                        },
                        "required": [
                          "id",
                          "title",
                          "startTime",
                          "endTime",
                          "available",
                          "requestedIntervalOptionsMinutes"
                        ]
                      }
                    }
                  },
                  "required": [
                    "items"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Select a project, location, mix code, quantity, and delivery date.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INVALID_QUERY": {
                    "value": {
                      "code": "INVALID_QUERY",
                      "message": "Select a project, location, mix code, quantity, and delivery date.",
                      "fields": {
                        "projectId": "Project is required",
                        "locationId": "Location is required",
                        "mixCode": "Mix code is required",
                        "quantityM3": "Quantity must be greater than 0",
                        "date": "Select a valid delivery date"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No time-slot windows are available for the selected date and quantity. Choose another date.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "NO_SLOTS_AVAILABLE": {
                    "value": {
                      "code": "NO_SLOTS_AVAILABLE",
                      "message": "No time-slot windows are available for the selected date and quantity. Choose another date."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/documents": {
      "get": {
        "operationId": "get_documents",
        "summary": "Documents — list uploaded documents",
        "tags": [
          "Profile"
        ],
        "parameters": [
          {
            "name": "documentType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "fileName": {
                            "type": "string"
                          },
                          "mimeType": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "uploadedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "fileUrl": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "type",
                          "fileName",
                          "mimeType",
                          "status",
                          "uploadedAt",
                          "fileUrl"
                        ]
                      }
                    }
                  },
                  "required": [
                    "items"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "page must be at least 1 and pageSize must be between 1 and 100.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INVALID_QUERY": {
                    "value": {
                      "code": "INVALID_QUERY",
                      "message": "page must be at least 1 and pageSize must be between 1 and 100.",
                      "fields": {
                        "page": "Invalid page",
                        "pageSize": "Use a value from 1 to 100"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No documents match the selected filter.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "NO_DOCUMENTS_FOUND": {
                    "value": {
                      "code": "NO_DOCUMENTS_FOUND",
                      "message": "No documents match the selected filter."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "post_documents",
        "summary": "Documents — upload new document",
        "tags": [
          "Profile"
        ],
        "parameters": [],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string"
                  },
                  "fileId": {
                    "type": "string"
                  },
                  "expiryDate": {
                    "type": "string",
                    "enum": [
                      "YYYY-MM-DD"
                    ]
                  }
                },
                "required": [
                  "fileId",
                  "type"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "fileName": {
                      "type": "string"
                    },
                    "mimeType": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "uploaded",
                        "under_review"
                      ]
                    },
                    "uploadedAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "fileUrl": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "type",
                    "fileName",
                    "mimeType",
                    "status",
                    "uploadedAt",
                    "fileUrl"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Choose a supported document before uploading.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "VALIDATION_ERROR": {
                    "value": {
                      "code": "VALIDATION_ERROR",
                      "message": "Choose a supported document before uploading.",
                      "fields": {
                        "type": "Document type is required",
                        "fileId": "Choose a file to upload"
                      }
                    }
                  },
                  "UNSUPPORTED_FILE_TYPE": {
                    "value": {
                      "code": "UNSUPPORTED_FILE_TYPE",
                      "message": "Upload a PDF, JPG, or PNG file."
                    }
                  }
                }
              }
            }
          },
          "413": {
            "description": "This file is too large. Upload a smaller supported file.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "FILE_TOO_LARGE": {
                    "value": {
                      "code": "FILE_TOO_LARGE",
                      "message": "This file is too large. Upload a smaller supported file."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/documents/direct-upload/{fileId}": {
      "put": {
        "operationId": "put_document_direct_upload",
        "summary": "Upload KYC document bytes",
        "tags": [
          "KYC"
        ],
        "description": "Step 2 of the KYC upload. Undocumented in 1.0.0.",
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "From document-upload-urls."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/pdf": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "image/jpeg": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "image/png": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "fileId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "UNAUTHORIZED": {
                    "value": {
                      "code": "UNAUTHORIZED",
                      "message": "Sign in to continue."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found, or not yours.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "NOT_FOUND": {
                    "value": {
                      "code": "NOT_FOUND",
                      "message": "We could not find that."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/documents/{documentId}": {
      "delete": {
        "operationId": "delete_documents_documentId",
        "summary": "Documents — delete document",
        "tags": [
          "Profile"
        ],
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "deletedId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "deletedId"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "The selected document could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INVALID_DOCUMENT_ID": {
                    "value": {
                      "code": "INVALID_DOCUMENT_ID",
                      "message": "The selected document could not be found."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "This document is required for KYC and cannot be removed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "DOCUMENT_REQUIRED_FOR_KYC": {
                    "value": {
                      "code": "DOCUMENT_REQUIRED_FOR_KYC",
                      "message": "This document is required for KYC and cannot be removed."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/documents/{documentId}/file": {
      "get": {
        "operationId": "get_document_file",
        "summary": "Download a KYC document",
        "tags": [
          "KYC"
        ],
        "description": "Existed in the implementation but was undocumented in 1.0.0 -- `documentPayload()` returns this URL on every document row.",
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The document id."
          }
        ],
        "responses": {
          "200": {
            "description": "The file.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "UNAUTHORIZED": {
                    "value": {
                      "code": "UNAUTHORIZED",
                      "message": "Sign in to continue."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found, or not yours.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "NOT_FOUND": {
                    "value": {
                      "code": "NOT_FOUND",
                      "message": "We could not find that."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/home": {
      "get": {
        "operationId": "get_home",
        "summary": "Home — initial load / refresh",
        "tags": [
          "Home"
        ],
        "parameters": [],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "userName": {
                      "type": "string"
                    },
                    "companyName": {
                      "type": "string"
                    },
                    "activeOrders": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "orderId": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "grade": {
                            "type": "string"
                          },
                          "location": {
                            "type": "string"
                          },
                          "timeSlot": {
                            "type": "string"
                          },
                          "volume": {
                            "type": "string"
                          },
                          "date": {
                            "type": "string"
                          },
                          "amount": {
                            "type": "number"
                          },
                          "delivered": {
                            "type": "number"
                          },
                          "total": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "orderId",
                          "status",
                          "grade",
                          "location",
                          "timeSlot",
                          "volume",
                          "date",
                          "amount"
                        ]
                      }
                    }
                  },
                  "required": [
                    "userName",
                    "companyName",
                    "activeOrders"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Please correct the highlighted fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "VALIDATION_ERROR": {
                    "value": {
                      "code": "VALIDATION_ERROR",
                      "message": "Please correct the highlighted fields.",
                      "fields": {
                        "fieldName": "Reason for correction"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "This service is temporarily unavailable. Please try again.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "SERVICE_UNAVAILABLE": {
                    "value": {
                      "code": "SERVICE_UNAVAILABLE",
                      "message": "This service is temporarily unavailable. Please try again."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/invoices": {
      "get": {
        "operationId": "get_invoices",
        "summary": "Invoices — initial load",
        "tags": [
          "Invoices"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "receipt",
                "vat",
                "vatInvoiceReady"
              ]
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "orderId": {
                            "type": "string"
                          },
                          "totalAmount": {
[...]
